<div id="article-banner">
  <h2>Categories</h2>
  <p class="post-date">文章归档（类别）</p>
</div>
<main class="app-body" id="archives">
  <%site.categories.each(post => {%>
    <section class="time-section">
      <h1 class="section-year">
        <%= post.name %>
      </h1>
      <div class="section-list">
        <% post.posts.sort((l, r) => r.date - l.date) %>
        <% post.posts.forEach(item => { %>
          <div class="section-list-item">
            <a href="<%= url_for(item.path) %>" class="archive-title"><%= item.title %></a>
            <p class="archive-date"><%-date(item.date, "MM-DD")%></p>
          </div>
        <% }) %>
      </div>
    </section>
  <%})%>
</main>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>';
      $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header');
  })();
</script>